h1 {
    color: red;
    text-align: center;
  }
  h2 {
    color: rgb(156, 152, 151);
    font-style: italic;
    text-align: center;
  }
  p {
    font-family: sans-serif;
  }
  ol {
    line-height: 40px;
    color: crimson;
  }
  p{
    color: blue;
    text-align: center;
    font-size: medium;
  }
  body{
    background-image: url(images/sea.jpg);
  }
  